torch
gensim
transformers
sklearn_crfsuite
spacy
keras
keras_preprocessing
tensorflow
sklearn_crfsuite
torchtext
tqdm
textblob
numpy==1.23.3
flair
stanza
rouge
jiwer
pytorch-lightning
openai
bert-score
scipy==1.12
